<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^directory/ - [L,R=404]

RewriteRule ^cek-login$ cek_login.php
RewriteRule ^keluar$ logout.php
RewriteRule ^404$ media.php?module=404 [QSA,L]

RewriteRule ^home$ media.php?module=home [QSA,L]


Options All -Indexes

</IfModule>
